.search-bar-container {
    width: 100vw;
   
}

.search-bar-items {
    background-color: $ContainerDark;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 7px;
  
    @include breakpoint(small) {
      padding-left: $padding-left;
      padding-right: $padding-right;
      width: 90vw;
      height: 50px;
    }
  }

  ::placeholder {
    color: #fff;
    font-size: 14px ;
 
  }

  input {    
    border-color: transparent;
    background: transparent;
    color: #fff;

  }


  .search-btn {
    background-color: $SearchBTN;
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    border-style: none;
  }
  
  

 