.top-bar {
  background-color: $BgContainer;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 7px;
  padding: 10px 0px;

  @include breakpoint(small) {
    padding-left: $padding-left;
    padding-right: $padding-right;
    width: 90vw;
    height: 30px;
  }
}

.theme-switch {
  display: flex;
}

.logo {
  color: #fff;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-btn {
  display: flex;
  align-items: center;
  color: #fff;
  border: none;
  background: transparent;
  cursor: pointer;
}
