.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
  padding: 10px 10px;

  .profile-logo {
    flex-grow: 1;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }

  .profile-items {
    flex-grow: 2;

    .name {
      font-weight: $font-700;
    }

    .nick {
      color: $IconDarkBlue;
    }
  }
}

@include breakpoint(medium) {
  .profile-info {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    .profile-logo {
      flex-grow: 1;
      img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
      }
    }

    .profile-items {
      display: flex;
    }

    .name-nick {
      flex: 1 1 400px;
    }

    .name {
      font-size: 20px;
      padding-bottom: 5px;
    }

    .joined {
      flex: 0 1 300px;
    }
  }
}
