.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
  padding: 10px 10px;

  .profile-logo {
    flex-grow: 1;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
  .profile-items {
    flex-grow: 2;

    .name {
      font-weight: $font-700;
    }

    .nick {
      color: $SearchIconDark;
    }
  }
}
