:root {
  $BgRoot: #f4f7fe;
  $BgContainer: #ffffff;
  $BgContainerSmall: #f4f7fe;
  $SearchBTN: #0077ff;
  $BgData: #f4f7fe;
  $Text1: #5a6a88;
  $Text_2: #303338;
  $IconDarkBlue: #216ac6;
}

[data-theme="dark"] {
  $BgRoot: #141d2e;
  $BgContainer: hsl(222, 41%, 20%);
  $BgContainerSmall: hsl(220, 40%, 13%);
  $SearchBTN: #0077ff;
  $Text_1: white;
  $Text_2: #f4f7fe;
  $IconDarkBlue: #216ac6;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// GENERAL
@import "../styles/basics/reset.scss";
@import "../styles/basics/variables.scss";
@import "../styles/basics/mixins.scss";

// SCSS COMPONENTS
@import "../styles/components/top_bar.scss";
@import "../styles/components/search_bar.scss";
@import "../styles/components/user.scss";
@import "../styles/components/user_profile.scss";
@import "../styles/components/user_bio.scss";
@import "../styles/components/user_stats.scss";
@import "../styles/components/user_links.scss";

body {
  //   background-color: #141d2e;
  background-color: #fff;
  font-family: "Space Mono", monospace;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
