// #DARK
$BgDark: #141d2e;
$ContainerDark: #1d2b48;
$SearchBTN: #0077ff;
$SearchIconDark: #216ac6;

// #LIGHT
$BgLight: #f4f7fe;
$ContainerLight: #ffffff;
$ContainerSmallLight: #f4f7fe;
$SearchIconLight: #526b94;
$DarkTheme: #45649a;
$TextColor: #1e252f;
$IconsLight: #3d669a;

// $circleSize: 70px;
// $gap: 20px;
