// #GENERAL
$padding-left: 20px;
$padding-right: 20px;
$font-700: 700;
$font-400: 400;

// #DARK
$BgDark: #141d2e;
$ContainerDark: hsl(222, 41%, 20%);
// $ContainerDark: #1d2b48;
$SearchBTN: #0077ff;
$SearchIconDark: #216ac6;
$StatsBg: hsl(220, 40%, 13%);

// #LIGHT
$BgLight: #f4f7fe;
$ContainerLight: #ffffff;
$ContainerSmallLight: #f4f7fe;
$SearchIconLight: #526b94;
$DarkTheme: #45649a;
$TextColor: #1e252f;
$IconsLight: #3d669a;

// #THEME LIGHT
[data-theme="light"] {
  $Bg: #f4f7fe;
  $BgContainer: #ffffff;
  $BgData: #f4f7fe;
  $SearchIcon: #526b94;
  $Text1: #1e252f;
}

// #THEME DARK

[data-theme="dark"] {
  $Bg: #141d2e;
  $BgContainer: hsl(222, 41%, 20%);
  $BgData: hsl(220, 40%, 13%);
  $SearchIcon: #216ac6;
  $Text1: #ffffff;
}
